<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="roller_gazebo_v0" params="prefix">
        <gazebo reference="${prefix}_roller_link">
            <selfCollide>false</selfCollide>
            <mu1 value="5.2" />
            <mu2 value="5.2" />
        </gazebo>
    </xacro:macro>
</robot>
